In [2]:
import pandas as pd
import multiprocessing

# Crie um arquivo Jupyter Notebook e realize as seguintes operações:

## a) Ler o dataset fakeTelegram.BR_2022.csv, o qual está disponível no link a seguir: https://drive.google.com/file/d/1c_hLzk85pYw-huHSnFYZM_gn-dUsYRDm/view?usp=drive_link

In [3]:
df = pd.read_csv("./fakeTelegram.BR_2022.csv")
df

,date_message,id_member_anonymous,id_group_anonymous,media,media_type,media_url,has_media,has_media_url,trava_zap,text_content_anonymous,dataset_info_id,date_system,score_sentiment,score_misinformation,id_message,message_type,messenger,media_name,media_md5
0,2022-10-05 06:25:04,1078cc958f0febe28f4d03207660715f,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,Então é Fato Renato o áudio que eu ouvi no wha...,5,2022-10-05 06:25:28.863641,0.0000,NaN,16385,Texto,telegram,NaN,NaN
1,2022-10-05 06:25:08,NaN,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,"Saiu no YouTube do presidente a 8 horas atrás,...",5,2022-10-05 06:25:28.926311,0.0644,NaN,16386,Texto,telegram,NaN,NaN
2,2022-10-05 06:26:28,92a2d8fd7144074f659d1d29dc3751da,9f2d7394334eb224c061c9740b5748fc,NaN,NaN,NaN,False,False,False,"É isso, nossa parte já foi quase toda feita. N...",5,2022-10-05 06:26:29.361949,-0.3551,0.157242,16366,Texto,telegram,NaN,NaN
3,2022-10-05 06:27:28,d60aa38f62b4977426b70944af4aff72,c8f2de56550ed0bf85249608b7ead93d,94dca4cda503100ebfda7ce2bcc060eb.jpg,image/jpg,NaN,True,False,False,GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA,5,2022-10-05 06:27:29.935624,0.0000,NaN,19281,Imagem,telegram,NaN,94dca4cda503100ebfda7ce2bcc060eb
4,2022-10-05 06:27:44,cd6979b0b5265f08468fa1689b6300ce,e56ec342fc599ebb4ed89655eb6f03aa,5ad5c8bbe9da93a37fecf3e5aa5b0637.jpg,image/jpg,NaN,True,False,False,NaN,5,2022-10-05 06:28:29.316325,NaN,NaN,507185,Imagem,telegram,NaN,5ad5c8bbe9da93a37fecf3e5aa5b0637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557581,2022-11-11 12:06:15,333e9869f23dbd4682d1be382d9c1e59,e56ec342fc599ebb4ed89655eb6f03aa,25e43b6a58b848c43ad5b5f9e979822a.jpg,url,https://terrabrasilnoticias.com/2022/11/bndes-...,True,True,False,"BNDES tem lucro de R$ 9,6 bilhões no terceiro ...",5,2022-11-16 14:49:39.146502,0.1027,NaN,575796,Url,telegram,NaN,25e43b6a58b848c43ad5b5f9e979822a
557582,2022-11-11 12:09:08,NaN,5b10d7739171149be6d9961e3350c071,657949d03e4088f6b332e2686ccd3221.jpg,url,https://youtu.be/8g1Vz9_0xVk,True,True,False,https://youtu.be/8g1Vz9_0xVk,5,2022-11-16 14:49:39.847434,0.0000,NaN,1286443,Url,telegram,NaN,657949d03e4088f6b332e2686ccd3221
557583,2022-11-11 12:09:47,NaN,1590a03f43b5ba4b6147a1c5e1dd357b,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",5,2022-11-16 14:49:39.922279,0.0000,NaN,13294,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e
557584,2022-11-11 12:09:46,NaN,5b10d7739171149be6d9961e3350c071,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",5,2022-11-16 14:49:39.992932,0.0000,NaN,1286444,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e
557585,2022-11-11 12:09:48,NaN,b11f2df64ac19aad47a50accf32052d6,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",5,2022-11-16 14:49:40.064006,0.0000,NaN,192127,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e

## b)  Identificar e listar as posições (células) contendo valores faltantes.

In [4]:
df.isnull()

,date_message,id_member_anonymous,id_group_anonymous,media,media_type,media_url,has_media,has_media_url,trava_zap,text_content_anonymous,dataset_info_id,date_system,score_sentiment,score_misinformation,id_message,message_type,messenger,media_name,media_md5
0,False,False,False,True,True,True,False,False,False,False,False,False,False,True,False,False,False,True,True
1,False,True,False,True,True,True,False,False,False,False,False,False,False,True,False,False,False,True,True
2,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,False
4,False,False,False,False,False,True,False,False,False,True,False,False,True,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557581,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False
557582,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False
557583,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False
557584,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False
557585,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False

In [5]:

array_faltantes = []

for coluns in df.columns:
    for i in range(len(df)):
        if pd.isna(df.at[i, coluns]):
            #print(f"Na coluna {coluns} na linha {i} tem valor vazio")
            array_faltantes.append((i, coluns))

In [6]:
array_faltantes[:10]

[(1, 'id_member_anonymous'),
 (5, 'id_member_anonymous'),
 (11, 'id_member_anonymous'),
 (12, 'id_member_anonymous'),
 (14, 'id_member_anonymous'),
 (17, 'id_member_anonymous'),
 (21, 'id_member_anonymous'),
 (22, 'id_member_anonymous'),
 (24, 'id_member_anonymous'),
 (25, 'id_member_anonymous')]

In [7]:
array_faltantes[-10:]

[(496768, 'media_md5'),
 (496769, 'media_md5'),
 (496770, 'media_md5'),
 (496771, 'media_md5'),
 (496772, 'media_md5'),
 (496773, 'media_md5'),
 (496774, 'media_md5'),
 (496775, 'media_md5'),
 (496776, 'media_md5'),
 (496779, 'media_md5')]

## c)  Contar quantas linhas possuem valores faltantes.

In [8]:
quantidade_linhas_faltantes = df.isnull().any(axis=1).sum()
print(f"Quantidade de linhas com valores faltantes: {quantidade_linhas_faltantes}")

Quantidade de linhas com valores faltantes: 557561

## d)  Para cada coluna (feature), contar quantas linhas possuem valores faltantes.

In [9]:
quantidade_linhas_faltantes_colunas = df.isnull().any(axis=0).sum()
print(f"Quantidade de linhas com valores faltantes por coluna: {quantidade_linhas_faltantes_colunas}")

Quantidade de linhas com valores faltantes por coluna: 9

## e)  Identificar e listar as linhas repetidas (duplicadas).

In [10]:
linhas_duplicadas = df.duplicated()
print(f"Quantidade de linhas duplicadas: {linhas_duplicadas.sum()}")

Quantidade de linhas duplicadas: 0

## f)  Identificar e listar  as posições (células) contendo valores que não pertencem ao domínio (tipo de dados) esperado.

In [11]:
df.dtypes

date_message               object
id_member_anonymous        object
id_group_anonymous         object
media                      object
media_type                 object
media_url                  object
has_media                    bool
has_media_url                bool
trava_zap                    bool
text_content_anonymous     object
dataset_info_id             int64
date_system                object
score_sentiment           float64
score_misinformation      float64
id_message                  int64
message_type               object
messenger                  object
media_name                 object
media_md5                  object
dtype: object

### Código com multithread

In [12]:
array_inconsistencias = []

def f(coluns):
    type_colun = type(df[coluns].dtype)
    array_inconsistencias = []
    for i in range(len(df)):
        if  isinstance(df.at[i, coluns], type_colun) :
            #print(f"Na coluna {coluns} na linha {i} tem valor vazio")
            array_inconsistencias.append((i, coluns))
    return array_inconsistencias

num_processos = multiprocessing.cpu_count()

with multiprocessing.Pool(processes=num_processos) as pool:
    array_inconsistencias.append(pool.map(f, df.columns))

In [13]:
array_inconsistencias

[[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]]

### Código com loop

In [14]:
for coluns in df.columns:
    type_colun = type(df[coluns].dtype)
    for i in range(len(df)):
        if isinstance(df.at[i, coluns], type_colun):
            #print(f"Na coluna {coluns} na linha {i} tem valor vazio")
            array_inconsistencias.append((i, coluns))

In [15]:
array_inconsistencias

[[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]]

## g)  Crie  uma  coluna  chamada  “caracteres”  contendo  a  quantidade  de  caracteres  da coluna “text”.

In [16]:
df['caracteres'] = df['text_content_anonymous'].apply(lambda x: len(x) if isinstance(x, str) else 0)
df['caracteres']

0         110
1         141
2         350
3          40
4           0
         ...
557581    152
557582     28
557583     68
557584     68
557585     68
Name: caracteres, Length: 557586, dtype: int64

## h)  Crie uma coluna chamada “words” contendo a quantidade de palavras da coluna “text”.

In [17]:
df['words'] = df['text_content_anonymous'].apply(lambda x: len(x.split()) if isinstance(x, str) else 0)
df['words']

0         20
1         23
2         59
3          7
4          0
          ..
557581    12
557582     1
557583     6
557584     6
557585     6
Name: words, Length: 557586, dtype: int64

## i)  Crie uma coluna chamada “viral” contendo o valor 0 se o texto da mensagem (valor do campo “text”) não for encontrado em outras linhas e 1, caso contrário.

In [18]:
df['viral'] = df.duplicated(subset='text_content_anonymous',keep=False).astype(int)
df['viral']

0         0
1         0
2         0
3         0
4         1
         ..
557581    1
557582    1
557583    1
557584    1
557585    1
Name: viral, Length: 557586, dtype: int64

## j)  Crie uma coluna chamada “sharings” contendo a quantidade de vezes que o texto armazenado no atributo “text” aparece no dataset.

In [19]:
df['sharings'] = df['text_content_anonymous'].map(df['text_content_anonymous'].value_counts())
df['sharings']

0         1.0
1         1.0
2         1.0
3         1.0
4         NaN
         ...
557581    2.0
557582    2.0
557583    4.0
557584    4.0
557585    4.0
Name: sharings, Length: 557586, dtype: float64

## k)  Crie uma coluna chamada “sentiment” contendo os valores: -1 para textos negativos, 0 para textos neutros e 1 para textos positivos.

### Analisando sentimento através da coluna score_sentiment

In [20]:
def sentimento(val):
    if pd.isna(val):
        return 0   
    elif val < 0:
        return -1
    elif val == 0:
        return 0
    else:
        return 1
df['sentiment'] = df['score_sentiment'].map(lambda x: sentimento(x))
df['sentiment']

0         0
1         1
2        -1
3         0
4         0
         ..
557581    1
557582    0
557583    0
557584    0
557585    0
Name: sentiment, Length: 557586, dtype: int64

### Analisando sentimento através da biblioteca LeIA

In [39]:
from LeIA import SentimentIntensityAnalyzer

s = SentimentIntensityAnalyzer()

df['score_sentiment_leia'] = df['text_content_anonymous'].apply(lambda x: s.polarity_scores(x)['compound'] if isinstance(x, str) else 0)
df['score_sentiment_leia']

0         0.0000
1         0.0644
2        -0.3551
3         0.0000
4         0.0000
           ...
557581    0.1027
557582    0.0000
557583    0.0000
557584    0.0000
557585    0.0000
Name: score_sentiment_leia, Length: 557586, dtype: float64

### Analisando sentimento através da biblioteca vader

In [50]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

s = SentimentIntensityAnalyzer()

df['score_sentiment_vader'] = df['text_content_anonymous'].apply(lambda x: s.polarity_scores(x)['compound'] if isinstance(x, str) else 0)
df['score_sentiment_vader']

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl.metadata (572 bytes)
Requirement already satisfied: requests in /home/raylander/Desktop/Introdução a Ciência de Dados/.venv/lib/python3.12/site-packages (from vaderSentiment) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/raylander/Desktop/Introdução a Ciência de Dados/.venv/lib/python3.12/site-packages (from requests->vaderSentiment) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/raylander/Desktop/Introdução a Ciência de Dados/.venv/lib/python3.12/site-packages (from requests->vaderSentiment) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/raylander/Desktop/Introdução a Ciência de Dados/.venv/lib/python3.12/site-packages (from requests->vaderSentiment) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/raylander/Desktop/Introdução a Ciência de Dados/.venv/lib/python3.12/site-packages (from requests->vaderSentiment) (2025.4.26)
Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

0        -0.5267
1        -0.5267
2        -0.2960
3         0.0000
4         0.0000
           ...
557581   -0.2960
557582    0.0000
557583    0.0000
557584    0.0000
557585    0.0000
Name: score_sentiment_vader, Length: 557586, dtype: float64

### Diferença da analise de sentimento realizado com api para analise de sentimento de texto em português baseada na vader que é a LeIA feita a partir da coluna score_sentiment

In [49]:
def sentimento(val):
    if pd.isna(val):
        return 0   
    elif val < 0:
        return -1
    elif val == 0:
        return 0
    else:
        return 1
df['sentiment_leia'] = df['score_sentiment_leia'].map(lambda x: sentimento(x))

diferencas = df['sentiment'] != df['sentiment_leia']

# Exibir os valores das colunas apenas nas linhas diferentes
valores_diferentes = df.loc[diferencas, ['sentiment', 'sentiment_leia']]

print(valores_diferentes)

        sentiment  sentiment_leia
840             0               1
3983            0               1
5683            1               0
6701            0               1
9875           -1               0
...           ...             ...
557573          0               1
557574          0              -1
557575          0              -1
557579          0               1
557580          0              -1

[95 rows x 2 columns]

### Diferença da analise de sentimento realizado com api para analise de sentimento chamada vader feita a partir da coluna score_sentiment

In [52]:
def sentimento(val):
    if pd.isna(val):
        return 0   
    elif val < 0:
        return -1
    elif val == 0:
        return 0
    else:
        return 1
df['sentiment_vader'] = df['score_sentiment_vader'].map(lambda x: sentimento(x))

diferencas = df['sentiment'] != df['sentiment_vader']

# Exibir os valores das colunas apenas nas linhas diferentes
valores_diferentes = df.loc[diferencas, ['sentiment', 'sentiment_vader']]

print(valores_diferentes)

        sentiment  sentiment_vader
0               0               -1
1               1               -1
6               1               -1
11             -1                1
16              1               -1
...           ...              ...
557565         -1                0
557574          0               -1
557579          0               -1
557580          0               -1
557581          1               -1

[228453 rows x 2 columns]

### A diferença nas três colunas de analises de sentimento

In [56]:
diferencas = ((df['sentiment'] != df['sentiment_vader'])| (df['sentiment'] != df['sentiment_leia']))

# Exibir os valores das colunas apenas nas linhas diferentes
valores_diferentes = df.loc[diferencas, ['sentiment', 'sentiment_vader', 'sentiment_leia',]]

print(valores_diferentes)

        sentiment  sentiment_vader  sentiment_leia
0               0               -1               0
1               1               -1               1
6               1               -1               1
11             -1                1              -1
16              1               -1               1
...           ...              ...             ...
557574          0               -1              -1
557575          0                0              -1
557579          0               -1               1
557580          0               -1              -1
557581          1               -1               1

[228493 rows x 3 columns]

## l)  Eliminar as linhas cujo valor da coluna “text” contenham “trava-zaps”.

In [22]:
df = df[~df['text_content_anonymous'].str.contains('trava-zaps', na=False)]
df

,date_message,id_member_anonymous,id_group_anonymous,media,media_type,media_url,has_media,has_media_url,trava_zap,text_content_anonymous,...,id_message,message_type,messenger,media_name,media_md5,caracteres,words,viral,sharings,sentiment
0,2022-10-05 06:25:04,1078cc958f0febe28f4d03207660715f,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,Então é Fato Renato o áudio que eu ouvi no wha...,...,16385,Texto,telegram,NaN,NaN,110,20,0,1.0,0
1,2022-10-05 06:25:08,NaN,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,"Saiu no YouTube do presidente a 8 horas atrás,...",...,16386,Texto,telegram,NaN,NaN,141,23,0,1.0,1
2,2022-10-05 06:26:28,92a2d8fd7144074f659d1d29dc3751da,9f2d7394334eb224c061c9740b5748fc,NaN,NaN,NaN,False,False,False,"É isso, nossa parte já foi quase toda feita. N...",...,16366,Texto,telegram,NaN,NaN,350,59,0,1.0,-1
3,2022-10-05 06:27:28,d60aa38f62b4977426b70944af4aff72,c8f2de56550ed0bf85249608b7ead93d,94dca4cda503100ebfda7ce2bcc060eb.jpg,image/jpg,NaN,True,False,False,GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA,...,19281,Imagem,telegram,NaN,94dca4cda503100ebfda7ce2bcc060eb,40,7,0,1.0,0
4,2022-10-05 06:27:44,cd6979b0b5265f08468fa1689b6300ce,e56ec342fc599ebb4ed89655eb6f03aa,5ad5c8bbe9da93a37fecf3e5aa5b0637.jpg,image/jpg,NaN,True,False,False,NaN,...,507185,Imagem,telegram,NaN,5ad5c8bbe9da93a37fecf3e5aa5b0637,0,0,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557581,2022-11-11 12:06:15,333e9869f23dbd4682d1be382d9c1e59,e56ec342fc599ebb4ed89655eb6f03aa,25e43b6a58b848c43ad5b5f9e979822a.jpg,url,https://terrabrasilnoticias.com/2022/11/bndes-...,True,True,False,"BNDES tem lucro de R$ 9,6 bilhões no terceiro ...",...,575796,Url,telegram,NaN,25e43b6a58b848c43ad5b5f9e979822a,152,12,1,2.0,1
557582,2022-11-11 12:09:08,NaN,5b10d7739171149be6d9961e3350c071,657949d03e4088f6b332e2686ccd3221.jpg,url,https://youtu.be/8g1Vz9_0xVk,True,True,False,https://youtu.be/8g1Vz9_0xVk,...,1286443,Url,telegram,NaN,657949d03e4088f6b332e2686ccd3221,28,1,1,2.0,0
557583,2022-11-11 12:09:47,NaN,1590a03f43b5ba4b6147a1c5e1dd357b,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",...,13294,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e,68,6,1,4.0,0
557584,2022-11-11 12:09:46,NaN,5b10d7739171149be6d9961e3350c071,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",...,1286444,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e,68,6,1,4.0,0
557585,2022-11-11 12:09:48,NaN,b11f2df64ac19aad47a50accf32052d6,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",...,192127,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e,68,6,1,4.0,0

In [23]:
print(df['trava_zap'].sum())

16

In [24]:
df_1 = df.copy()
df_1 = df_1[df_1['trava_zap'] ==  False]
df_1

,date_message,id_member_anonymous,id_group_anonymous,media,media_type,media_url,has_media,has_media_url,trava_zap,text_content_anonymous,...,id_message,message_type,messenger,media_name,media_md5,caracteres,words,viral,sharings,sentiment
0,2022-10-05 06:25:04,1078cc958f0febe28f4d03207660715f,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,Então é Fato Renato o áudio que eu ouvi no wha...,...,16385,Texto,telegram,NaN,NaN,110,20,0,1.0,0
1,2022-10-05 06:25:08,NaN,12283e08a2eb5789201e105b34489ee7,NaN,NaN,NaN,False,False,False,"Saiu no YouTube do presidente a 8 horas atrás,...",...,16386,Texto,telegram,NaN,NaN,141,23,0,1.0,1
2,2022-10-05 06:26:28,92a2d8fd7144074f659d1d29dc3751da,9f2d7394334eb224c061c9740b5748fc,NaN,NaN,NaN,False,False,False,"É isso, nossa parte já foi quase toda feita. N...",...,16366,Texto,telegram,NaN,NaN,350,59,0,1.0,-1
3,2022-10-05 06:27:28,d60aa38f62b4977426b70944af4aff72,c8f2de56550ed0bf85249608b7ead93d,94dca4cda503100ebfda7ce2bcc060eb.jpg,image/jpg,NaN,True,False,False,GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA,...,19281,Imagem,telegram,NaN,94dca4cda503100ebfda7ce2bcc060eb,40,7,0,1.0,0
4,2022-10-05 06:27:44,cd6979b0b5265f08468fa1689b6300ce,e56ec342fc599ebb4ed89655eb6f03aa,5ad5c8bbe9da93a37fecf3e5aa5b0637.jpg,image/jpg,NaN,True,False,False,NaN,...,507185,Imagem,telegram,NaN,5ad5c8bbe9da93a37fecf3e5aa5b0637,0,0,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557581,2022-11-11 12:06:15,333e9869f23dbd4682d1be382d9c1e59,e56ec342fc599ebb4ed89655eb6f03aa,25e43b6a58b848c43ad5b5f9e979822a.jpg,url,https://terrabrasilnoticias.com/2022/11/bndes-...,True,True,False,"BNDES tem lucro de R$ 9,6 bilhões no terceiro ...",...,575796,Url,telegram,NaN,25e43b6a58b848c43ad5b5f9e979822a,152,12,1,2.0,1
557582,2022-11-11 12:09:08,NaN,5b10d7739171149be6d9961e3350c071,657949d03e4088f6b332e2686ccd3221.jpg,url,https://youtu.be/8g1Vz9_0xVk,True,True,False,https://youtu.be/8g1Vz9_0xVk,...,1286443,Url,telegram,NaN,657949d03e4088f6b332e2686ccd3221,28,1,1,2.0,0
557583,2022-11-11 12:09:47,NaN,1590a03f43b5ba4b6147a1c5e1dd357b,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",...,13294,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e,68,6,1,4.0,0
557584,2022-11-11 12:09:46,NaN,5b10d7739171149be6d9961e3350c071,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",...,1286444,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e,68,6,1,4.0,0
557585,2022-11-11 12:09:48,NaN,b11f2df64ac19aad47a50accf32052d6,a21848a61045380a6483866daed0ca0e.jpg,image/jpg,https://t.me/vemprasruas,True,True,False,"Empresários, demitam os petistas primeiro.\n\n...",...,192127,Imagem,telegram,NaN,a21848a61045380a6483866daed0ca0e,68,6,1,4.0,0

## m) Identificar inconsistências entre os atributos (features).